* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(37, 33, 33);
  justify-content: center;
  align-items: center;
}

.header {
  position: fixed;
  width: 100%;
  height: 15%;
  padding: 1rem;
  font-size: 12px;
  background: rgb(33, 38, 39);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* z-index: 15; */
}

.logo {
  text-decoration: none;
  font-size: 23px;
  background-color: #ace31e;
  color: #d71d26;
  font-weight: 800;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.logo:hover {
  color: rgb(58, 199, 30);
  border: 1px dashed rgb(255, 0, 0);
  background-color: red;
  transform: scale(1.1)rotate(3deg);
}

.logo span {
  text-shadow: 0 0 85px #00eeff;
  color: rgb(0, 255, 242);
  background-color: rgb(0, 0, 0);
}

.logo span:hover {
  color: rgb(0, 51, 255);
  background-color: rgb(99, 57, 57);
}

.navbar a {
  text-decoration: none;
  font-size: 29px;
  color: rgb(197, 77, 77);
  margin-left: 3rem;
  font-weight: bold;
  transition: 1s ease;
}

.navbar a:hover {
  color: #2ed8d8;
  border-bottom: 13px dotted #f007d5;
}

.hero-section {
  text-align: center;
  background-color: rgb(27, 71, 77);
}

.profile-img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 4px solid rgb(34, 255, 0);
  box-shadow: 0 0 16px #00eeff;
  margin-top: 10rem;
}

.profile-img img:hover {
  transform: scale(1.1)rotate(22deg);
}

.hero-text h1 {
  margin: 20px 0;
  color: aqua;
  font-size: 6.5rem;
}

.hero-text h1 span {
  color: #06007b;

}

.hero-text p {
  margin-bottom: 20px;
  font-size: 4.2rem;
  color: #00c9e8
}
button {
  font-family: inherit;
  font-size: 20px;
  background: royalblue;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button:hover span {
  transform: translateX(5em);
}

button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

.box-input {
  position: relative;
}

.border {
  background-image: linear-gradient(to right bottom, #e300ff, #ff00aa, #ff5956, #ffb900, #fffe00);
  box-shadow: -25px -10px 30px -5px rgba(225, 0, 255, 0.5),
    25px -10px 30px -5px rgba(255, 0, 212, 0.5),
    25px 10px 30px -5px rgba(255, 174, 0, 0.5),
    -25px 10px 30px -5px rgba(255, 230, 0, 0.5);
  padding: 4px;
}

.input {
  background-color: #212121;
  max-width: 250px;
  height: 40px;
  padding: 0 19px 0 10px;
  font-size: 1.1em;
  position: relative;
  border: none;
  color: white;
  outline: 0;
  overflow: hidden;
}

.box-input::after,
.box-input::before {
  content: "";
  width: 130px;
  height: 30px;
  position: absolute;
  z-index: -1;
}

.box-input::after {
  bottom: 0;
  right: 0;
}

.box-input::before {
  top: 0;
  left: 0;
}

.input::placeholder {
  transition: all 0.5s ease-in, transform 0.2s ease-in 0.6s;
}

.input:focus::placeholder {
  padding-left: 165px;
  transform: translateY(-50px);
}
.buttons .btn {
  display: inline-block;
  margin: 10px;
  /* display: inline; */
  padding: 10px 20px;
  font-size: 2rem;
  background-color: yellow;
  color: rgb(233, 9, 9);
  text-decoration: none;
  border: 2px solid #ff00ff;
  border-radius: 30px;
  transition: red 1s, transform 1s;

}

.buttons .btn:hover {
  background-color: #00ffee;
  color: yellowgreen;
  transform: scale(1.05);
}

.social-icons {
  display: flex;
  width: 100px;
  height: 40px;
  margin-top: 5px;
  margin-left: 33rem;
}

.social-icons a {
  display: block;
  text-align: center;
  align-items: center;
  margin: 0 10px;
  color: rgb(213, 213, 215);
  font-size: 34px;
 }

.social-icons .icons {
  width: 40px;
  transition: transform 1s;
 }

.social-icons .icons:hover {
  transform: scale(1.3);
  color: #00c9e8;
}

.social-icons a:hover {
   border: 2px solid aqua;
}

h2 {
  color: rgb(4, 208, 201);
  text-align: center;
  margin-bottom: 40px;
  margin-top: 5rem;
  font-size: 3.5rem;
}

.service-section {
  text-align: center;
  max-width: 1200px;
}

.services-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.service-card {
  background-color: rgb(11, 35, 219);
  padding: 30px;
  border-radius: 21px;
  width: 340px;
  box-shadow: 0 0 45px rebeccapurple;
  cursor: pointer;
  color: red;
}

.service-card:hover {
  transform: rotate(30deg);
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 20px rgb(12, 255, 85), 0 0 40px rgb(9, 213, 220), 0 0 60px rgb(255, 0, 34);
}
.service-card h3 {
  color: rgb(220, 220, 5);
  font-size: 1.5rem;
  margin-bottom: 10px;
  background: rgb(0, 238, 255);
  padding: 10px;

}

.service-card p {
  color: rgb(13, 226, 233);
  font-size: 1.5rem;
  line-height: 1.5;
  background-color: rgb(0, 0, 0);
}

/* about section :start here  */
.about-contact-section {
  justify-content: space-between;
  /* align-items: flex-start; */
  gap: 50px;
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  color:#090c0c
}

.about {
  flex: 2;
  text-align: center;
  
}

.about-content {
  display: flex;
  align-items: center;
}

.about img {
  width: 150px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid aqua;
  box-shadow: 0 0 100px #221c7c;
  transform: scale(1.05)rotate(2deg);
}

.about p {
  color: #252025;
  font-size: 2rem;
  line-height: 2.5rem;
  max-width: 600px;
  text-transform: uppercase;
}

/* contact section start  */
.contact {
  color: #00ffee;
  flex: 1;
  text-align: left;
  margin: 0 12rem;
}

.contact h2 {
  color: black;
  background-color: rgb(43, 227, 11);
  text-align: center;
  width: 400px;
  font-size: 3rem;
  border: 3px #00c9e8 solid;
  box-shadow: 0 0 70px #eb0202;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 400px;
  height: auto;
}

.contact input,
.contact textarea {
  width: 70%;
  padding: 15px;
  font-size: 1rem;
  /* border: 3px dotted aqua; */
  color: rgb(74, 204, 74);
  background-color: black;
  /* border-radius: 30px; */
  text-align: left;
  /* outline: none; */
}

.contact input:focus,
.contact textarea:focus {
  /* background-color: rgb(117, 214, 201); */
  border-color: aqua;
}

.contact textarea {
  height: 80px;
  resize: none;
}

.contact button {
  margin-left: 11rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
  width: 26rem;
  padding: 15px;
  font-size: 20px;
  color: rgb(114, 60, 114);
  background-color: rgb(241, 3, 3);
  /* border: none; */
  /* border-radius: 36px; */
  cursor: pointer;
  transition: background-color 2s;
}

.contact button:hover {
  background-color: rgb(81, 255, 0);
  transform: scale(1)rotate(-2deg);
}

/* footer section  start*/
.footer {
  width: 100%;
  padding: 50px 20px;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 0 70px rgb(12, 223, 12);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo p {
  margin-top: 10px;
  color: #41cfbf;
  font-size: 1.1rem;

}

.footer-links {
  flex: 1;

}

.footer-links h4 {
  color: rgb(72, 226, 15);
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.footer-links ul {
  list-style: square;
}

.footer-links ul li {
  margin-bottom: 10px;
}

.footer-links ul li a {
  color: rgb(207, 22, 53);
  text-decoration: none;
  font-size: 1.1rem;
  transform: color 1s;
}

.footer-links ul li a:hover {
  background-color: aqua;
  color: black;
  transform: scale(1)rotate(90deg);
}
.footer-social h4 {
  color: aqua;
  font-size: 2.5rem;
  margin-bottom: 15px;
}
.footer-social ul {
  list-style: none;
}
.footer-social ul li {

  margin-bottom: 10px;
}
.footer-social ul li a {
  color: #ace31e;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s;
}

.footer-social ul li a:hover {
  color: #00ffee;

}

.footer-contact {
  flex: 1;
}

.footer-contact h3 {
  margin-bottom: 15px;
  color: #00ffee;
}

.footer-contact p {
  color: #df06c5;
  font-size: 1.3rem;
}

.footer-bottom {
  margin-top: 25px;
  text-align: center;
  border-top: 3px solid rgb(17, 214, 27);
  padding-top: 20px;
  width: 100%;
}
.footer-bottom p {
  color: rgb(252, 252, 255);
  font-size: 1rem;
}

/* footer end here  */