.productCard {
  display: flex;
  flex-direction: column;
  background-color: white;
  z-index: 1;
  padding: 20px;
  margin: 10px;
  max-height: 400px;
  min-width: 100px;
  border-radius: 4px;
  position: relative;
  transition: transform 0.2s ease-in-out;
}
/* Product Detail ገጽ ላይ ጎን ለጎን እንዲሆን (Flex Props ከተሰጠው) */
.product__flex {
  display: flex;
  gap: 30px;
  align-items: center;
  max-width: 900px;
  margin: 20px auto;
}

.productCard__description {
  font-size: 14px;
  color: #555;
  margin: 10px 0;
}

.productCard:hover {
  transform: scale(1.02);
}

.productCard img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.productCard__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.productCard__title {
  font-size: 14px;
  font-weight: 500;
  color: #0f1111;
  line-height: 1.3;
  margin-bottom: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.productCard__rating {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.productCard__price {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.productCard__button {
  background: #ffd814;
  border: 1px solid #fcd200;
  border-radius: 20px;
  padding: 8px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  transition: background 0.2s;
}

.productCard__button:hover {
  background: #f7ca00;
}