/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Page background */
body {
  min-height: 100vh;
  background: linear-gradient(135deg, #f1fbff, #203a43, #2c5364);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Game wrapper */
.game-container {
 background-color:rgb(196, 196, 124)transparent;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 15px 40px rgba(7, 255, 53, 0.6);
  text-align: center;
}

/* Title */
.title {
  color: #00ff1a;
  margin-bottom: 15px;
  letter-spacing: 1px;
  
  /* Transition for hover effects */
  transition: color 0.3s ease, transform 0.3s ease;
  
  /* Animation */
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 1s forwards; /* play once on load */
}

/* Keyframes for fade in + slide up */
@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Hover effect */
.title:hover {
  color: #a83232;
   transform: rotate(23deg);
}


/* Canvas (game area) */
.canvas {
  background-color: #000;
  border: 3px solid #00ccff;
  border-radius: 6px;
  display: block;
}
